<nav class="sticky top-0 py-4 text-white bg-gray-900 contrast-[1.1] z-20">
  <ul class="flex justify-center space-x-48">
    <li>
      <a
        routerLink="/home"
        class="hover:text-orange-500 hover:underline hover:decoration-orange-500"
        >Home</a
      >
    </li>
    <li class="relative group">
      <button class="hover:text-orange-500">Products</button>
      <div
        id="dropdownNavbar"
        class="absolute left-0 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600 group-hover:block"
      >
        <ul
          class="py-2 text-sm text-gray-700 dark:text-gray-200"
          aria-labelledby="dropdownLargeButton"
        >
          <li>
            <a
              href="/products?category=PARTS"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >Parts</a
            >
          </li>
          <li>
            <a
              href="/products?category=BODY_PARTS"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >Body Parts</a
            >
          </li>
          <li>
            <a
              href="/products?category=ENGINE_OIL"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >Engine Oil</a
            >
          </li>
          <li>
            <a
              href="/products?category=BRAKE_OIL"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >Brake Oil</a
            >
          </li>
          <li>
            <a
              href="/products?category=LUBRICANT"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >Lubricant Oil</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a
        routerLink="/services"
        class="hover:text-orange-500 hover:underline hover:decoration-orange-500"
        >Services</a
      >
    </li>
    <li>
      <a
        routerLink="/aboutus"
        class="hover:text-orange-500 hover:underline hover:decoration-orange-500"
        >About us</a
      >
    </li>
  </ul>
</nav>
