<header class="py-4 text-white bg-[#212F3C] contrast-[1.15] z-50">
  <div class="container px-4 mx-auto contrast-150">
    <div
      class="flex flex-col items-center space-y-4 md:flex-row md:justify-between md:space-y-0"
    >
      <div class="flex items-center">
        <img
          src="/assets/icon.png"
          alt="Bike Parts Hub Logo"
          class="object-contain w-20 h-20 mr-2 contrast-200"
        />
        <h1 class="text-xl font-bold text-orange-500 md:text-2xl font-sonsie">
          BIKE PARTS HUB
        </h1>
      </div>

      <div class="z-50 w-full md:w-auto md:flex-grow md:mx-8">
        <app-search-bar />
      </div>

      <div
        class="z-50 flex items-center justify-between w-full md:w-auto md:space-x-8"
      >
        <a href="#" class="text-xl md:text-2xl"
          ><i class="far fa-calendar-alt"></i
        ></a>
        <a href="/cart" class="text-xl md:text-2xl">
          <i class="relative fas fa-shopping-cart">
            <div
              class="absolute flex items-center justify-center w-5 h-5 text-xs bg-white border border-black rounded-full -bottom-2 -right-2"
            >
              <span class="text-black">5</span>
            </div>
          </i>
        </a>

        <a href="#" class="flex flex-col items-center text-xl md:text-2xl">
          <i class="fas fa-user"></i>
          <span class="mt-1 text-xs md:text-sm">Login</span>
        </a>
      </div>
    </div>
  </div>
</header>
