<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
  <div class="p-6 bg-gray-700 rounded-lg">
    <h2 class="mb-2 text-2xl font-bold">12 Orders</h2>
  </div>
  <div class="p-6 bg-gray-700 rounded-lg">
    <h2 class="mb-2 text-2xl font-bold">4 schedules</h2>
  </div>
  <div class="p-6 bg-gray-700 rounded-lg">
    <h2 class="mb-2 text-2xl font-bold">13 requests</h2>
  </div>
  <div class="p-6 bg-gray-700 rounded-lg">
    <h2 class="mb-2 text-2xl font-bold">12 Purchases this month</h2>
  </div>
  <div class="p-6 bg-gray-700 rounded-lg">
    <h2 class="mb-2 text-2xl font-bold">20 New users</h2>
  </div>
  <div class="p-6 bg-gray-700 rounded-lg">
    <h2 class="mb-2 text-2xl font-bold">Stock Update</h2>
  </div>
</div>
