<main class="w-screen px-8 py-8 mx-auto text-white bg-gray-800">
  <div class="flex">
    <aside class="w-1/5 pr-8">
      <div class="mb-6">
        <h3 class="mb-2 text-lg font-bold">Price</h3>
        <div class="flex justify-between">
          <input
            type="text"
            placeholder="min: 200000"
            class="px-2 py-1 bg-gray-700 rounded w-28"
          />
          <input
            type="text"
            placeholder="max: 280000"
            class="px-2 py-1 bg-gray-700 rounded w-28"
          />
        </div>
      </div>

      <!--Manufacturer  -->
      @if(category == 'parts'){

      <div class="mb-6">
        <h3 class="mb-2 text-lg font-bold">Manufacturer</h3>
        @if(category == 'parts'){
        <select class="w-full px-2 py-1 bg-gray-700 rounded">
          @for (manufactur of partBrands; track $index) {
          <option>{{ manufactur }}</option>
          }
        </select>
        }
      </div>

      }

      <!-- Type -->
      @if(category == 'parts' || category == 'body-parts'){

      <div class="mb-6">
        <h3 class="mb-2 text-lg font-bold">Bike Type</h3>

        <select class="w-full px-2 py-1 bg-gray-700 rounded">
          @for (bikeType of bikeTypes; track $index) {

          <option>{{ bikeType }}</option>
          }
        </select>
        
      </div>

      }

      <!--Model  -->
      @if(category == 'body-parts' || category == 'parts'){

      <div class="mb-6">
        <h3 class="mb-2 text-lg font-bold">Model</h3>

        <select class="w-full px-2 py-1 bg-gray-700 rounded">
          @for (bikeModel of bikeModels; track $index) {

          <option>{{ bikeModel }}</option>
          }
        </select>
      </div>
      }

      <!-- Version  -->
      @if(category == 'body-parts' || category == 'parts'){

      <div class="mb-6">
        <h3 class="mb-2 text-lg font-bold">Version</h3>
        <select class="w-full px-2 py-1 bg-gray-700 rounded">
          @for (bikeVersion of bikeVersions; track $index) {

          <option>{{ bikeVersion }}</option>
          }
        </select>
      </div>
      }

      <!-- Category -->
      @if(category == 'body-parts' || category == 'engine-oil' || category ==
      'break-oil' || category == 'parts'){

      <div class="mb-6">
        <h3 class="mb-2 text-lg font-bold">Category</h3>
        @if(category == 'body-parts'){
        <select class="w-full px-2 py-1 bg-gray-700 rounded">
          @for (bodyPartsCategory of bodyPartsCategories; track $index) {

          <option>{{ bodyPartsCategory }}</option>
          }
        </select>
        } @if(category == 'engine-oil'){
        <select class="w-full px-2 py-1 bg-gray-700 rounded">
          @for (engineOilCategory of engineOilCategories; track $index) {

          <option>{{ engineOilCategory }}</option>
          }
        </select>
        } @if(category == 'break-oil'){
        <select class="w-full px-2 py-1 bg-gray-700 rounded">
          @for (brakeOilCategory of brakeOilCategories; track $index) {

          <option>{{ brakeOilCategory }}</option>
          }</select
        >} @if(category == 'parts'){
        <select class="w-full px-2 py-1 bg-gray-700 rounded">
          @for (partCategory of partCategories; track $index) {

          <option>{{ partCategory }}</option>
          }
        </select>
        }
      </div>
      }

      <!--Brand  -->
      @if( category == 'engine-oil' || category == 'break-oil' || category ==
      'lubricant-oil' ||category == 'parts'){

      <div class="mb-6">
        <h3 class="mb-2 text-lg font-bold">Brand</h3>
        @if(category == 'engine-oil'){
        <select class="w-full px-2 py-1 bg-gray-700 rounded">
          @for (partBrand of partBrands; track $index) {

          <option>{{ partBrand }}</option>
          }</select
        >} @if(category == 'break-oil'){<select
          class="w-full px-2 py-1 bg-gray-700 rounded"
        >
          @for (brakeOilBrand of brakeOilBrands; track $index) {

          <option>{{ brakeOilBrand }}</option>
          }
        </select>
        } @if(category == 'lubricant-oil'){
        <select class="w-full px-2 py-1 bg-gray-700 rounded">
          @for (lubricantBrand of lubricantBrands; track $index) {

          <option>{{ lubricantBrand }}</option>
          }</select
        >} @if(category == 'parts'){
        <select class="w-full px-2 py-1 bg-gray-700 rounded">
          @for (partBrand of partBrands; track $index) {

          <option>{{ partBrand }}</option>
          }</select
        >}
      </div>
      }

      <!--Color  -->
      @if(category == 'body-parts'){

      <div class="mb-6">
        <h3 class="mb-2 text-lg font-bold">Color</h3>
        <select class="w-full px-2 py-1 bg-gray-700 rounded">
          @for (bodyPartsColor of bodyPartsColors; track $index) {

          <option>{{ bodyPartsColor }}</option>
          }
        </select>
      </div>
      }
    </aside>
    <div class="w-3/4 pl-8 h-max">
      <div class="flex items-center justify-between w-full mb-6">
        <h2 class="text-2xl font-bold">{{ category }}</h2>
        <select class="px-2 py-1 bg-gray-700 rounded">
          <option>Default Sorting</option>
        </select>
      </div>
      <app-product-list />
    </div>
  </div>
</main>
