<div class="relative">
  <div class="grid h-screen grid-cols-3 gap-6">
    @for ( product of filteredProducts; track product.productId) {
    <app-product-card [product]="product"></app-product-card>
    }
  </div>
  <div class="absolute left-0 right-0 flex justify-center mt-8 bottom-1">
    <button
      class="px-3 py-1 mx-1 bg-gray-700 rounded"
      (click)="goToFirstPage()"
      [disabled]="currentPage === 1"
    >
      First Page
    </button>
    <button
      *ngFor="let page of [].constructor(totalPages); let i = index"
      class="px-3 py-1 mx-1"
      [ngClass]="{
        'bg-orange-500': currentPage === i + 1,
        'bg-gray-700': currentPage !== i + 1
      }"
      (click)="changePage(i + 1)"
    >
      {{ i + 1 }}
    </button>
    <button
      class="px-3 py-1 mx-1 bg-gray-700 rounded"
      (click)="goToLastPage()"
      [disabled]="currentPage === totalPages"
    >
      Last Page
    </button>
  </div>
</div>
