<main class="w-screen h-screen px-8 py-8 mx-auto text-white bg-[#34495E] ">
 
  <!-- <div class="flex items-center justify-center">
    <img
      src="/assets/icon.png"
      alt="Bike Parts Hub Logo"
      class="object-contain w-20 h-20 mr-2"
    />
    <h1 class="text-2xl font-bold text-orange-500 font-sonsie">
      BIKE PARTS HUB
    </h1>
  </div> -->

  <div class="flex h-full">
    <div class="sticky top-0">
      <app-admin-side-navbar />
    </div>
    <div class="flex-1 p-4 overflow-y-auto">
      <router-outlet />
    </div>
  </div>
</main>
