<main class="w-screen px-2 py-8 mx-auto text-white bg-[#34495E] contrast-100 h-fit">
  <div class="flex">
    <app-product-filter-sidebar [productType]="productType"   (partsFilterInfo)="receivePartsFilterInfo($event)"/>
    <div class="w-3/4 pl-8 h-max">
      <div class="flex items-center justify-between w-full mb-6">
        <h2 class="text-2xl font-bold">{{ productType }}</h2>
        <select class="px-2 py-1 bg-gray-700 rounded">
          <option>Default Sorting</option>
        </select>
      </div>
      <app-product-list [partsFilterInfo]="partsFilterInfo"/>
    </div>
  </div>
</main>
