<nav class="h-full px-4 py-12 bg-[#1A242E] rounded-lg md:w-64">
  <div class="flex flex-col justify-between h-full text-black">
    <div class="mb-2">
      <a
        href="/admin/overview"
        routerLinkActive="bg-orange-500 text-white"
        class="block w-full px-4 py-2 font-semibold text-center transition-all duration-200 bg-[#81878E] rounded hover:bg-orange-400 hover:text-white"
        >Overview</a
      >
    </div>
    <div class="mb-2">
      <a
        href="/admin/orders"
        routerLinkActive="bg-orange-500 text-white"
        class="block w-full px-4 py-2 font-semibold text-center transition-all duration-200 bg-[#81878E] rounded hover:bg-orange-400 hover:text-white"
        >Orders</a
      >
    </div>
    <div class="mb-2">
      <a
        href="/admin/users"
        routerLinkActive="bg-orange-500 text-white"
        class="block w-full px-4 py-2 font-semibold text-center transition-all duration-200 bg-[#81878E] rounded hover:bg-orange-400 hover:text-white"
        >Users</a
      >
    </div>
    <div class="mb-2">
      <a
        href="/admin/reports"
        routerLinkActive="bg-orange-500 text-white"
        class="block w-full px-4 py-2 font-semibold text-center transition-all duration-200 bg-[#81878E] rounded hover:bg-orange-400 hover:text-white"
        >Reports</a
      >
    </div>
    <div class="mb-2">
      <a
        href="/admin/scheduleds"
        routerLinkActive="bg-orange-500 text-white"
        class="block w-full px-4 py-2 font-semibold text-center transition-all duration-200 bg-[#81878E] rounded hover:bg-orange-400 hover:text-white"
        >Scheduleds</a
      >
    </div>
    <div class="mb-2">
      <a
        href="/admin/requests"
        routerLinkActive="bg-orange-500 text-white"
        class="block w-full px-4 py-2 font-semibold text-center transition-all duration-200 bg-[#81878E] rounded hover:bg-orange-400 hover:text-white"
        >Requests</a
      >
    </div>
    <div class="mb-2">
      <a
        href="/admin/product"
        routerLinkActive="bg-orange-500 text-white"
        class="block w-full px-4 py-2 font-semibold text-center transition-all duration-200 bg-[#81878E] rounded hover:bg-orange-400 hover:text-white"
        >Products</a
      >
    </div>
    <div class="mb-2">
      <a
        href="/admin/services"
        routerLinkActive="bg-orange-500 text-white"
        class="block w-full px-4 py-2 font-semibold text-center transition-all duration-200 bg-[#81878E] rounded hover:bg-orange-400 hover:text-white"
        >Services</a
      >
    </div>
    <div class="mb-2">
      <a
        href="/admin/details"
        routerLinkActive="bg-orange-500 text-white"
        class="block w-full px-4 py-2 font-semibold text-center transition-all duration-200 bg-[#81878E] rounded hover:bg-orange-400 hover:text-white"
        >Details</a
      >
    </div>
  </div>
</nav>
