<nav class="w-full p-4 bg-gray-800 md:w-64">
  <div class="flex items-center justify-center mb-8">
    <img
      src="/assets/icon.png"
      alt="Bike Parts Hub Logo"
      class="w-12 h-12 mr-2"
    />
    <h1 class="text-2xl font-bold text-orange-500">BIKE PARTS HUB</h1>
  </div>
  <ul>
    <li class="mb-2">
      <a
        href="/admin/overview"
        routerLinkActive="bg-orange-500 text-white"
        class="block w-full px-4 py-2 font-semibold text-center transition-all duration-200 bg-gray-700 rounded hover:bg-orange-400 hover:text-white"
        >Overview</a
      >
    </li>
    <li class="mb-2">
      <a
        href="/admin/orders"
        routerLinkActive="bg-orange-500 text-white"
        class="block w-full px-4 py-2 font-semibold text-center transition-all duration-200 bg-gray-700 rounded hover:bg-orange-400 hover:text-white"
        >Orders</a
      >
    </li>
    <li class="mb-2">
      <a
        href="/admin/users"
        routerLinkActive="bg-orange-500 text-white"
        class="block w-full px-4 py-2 font-semibold text-center transition-all duration-200 bg-gray-700 rounded hover:bg-orange-400 hover:text-white"
        >Users</a
      >
    </li>
    <li class="mb-2">
      <a
        href="/admin/reports"
        routerLinkActive="bg-orange-500 text-white"
        class="block w-full px-4 py-2 font-semibold text-center transition-all duration-200 bg-gray-700 rounded hover:bg-orange-400 hover:text-white"
        >Reports</a
      >
    </li>
    <li class="mb-2">
      <a
        href="/admin/scheduleds"
        routerLinkActive="bg-orange-500 text-white"
        class="block w-full px-4 py-2 font-semibold text-center transition-all duration-200 bg-gray-700 rounded hover:bg-orange-400 hover:text-white"
        >Scheduleds</a
      >
    </li>
    <li class="mb-2">
      <a
        href="/admin/requests"
        routerLinkActive="bg-orange-500 text-white"
        class="block w-full px-4 py-2 font-semibold text-center transition-all duration-200 bg-gray-700 rounded hover:bg-orange-400 hover:text-white"
        >Requests</a
      >
    </li>
    <li class="mb-2">
      <a
        href="/admin/add-product"
        routerLinkActive="bg-orange-500 text-white"
        class="block w-full px-4 py-2 font-semibold text-center transition-all duration-200 bg-gray-700 rounded hover:bg-orange-400 hover:text-white"
        >Products</a
      >
    </li>
    <li class="mb-2">
      <a
        href="/admin/services"
        routerLinkActive="bg-orange-500 text-white"
        class="block w-full px-4 py-2 font-semibold text-center transition-all duration-200 bg-gray-700 rounded hover:bg-orange-400 hover:text-white"
        >Services</a
      >
    </li>
    <li class="mb-2">
      <a
        href="/admin/details"
        routerLinkActive="bg-orange-500 text-white"
        class="block w-full px-4 py-2 font-semibold text-center transition-all duration-200 bg-gray-700 rounded hover:bg-orange-400 hover:text-white"
        >Details</a
      >
    </li>
  </ul>
</nav>