<div class="overflow-hidden text-black bg-white rounded-lg ">
  <img
    [src]="product.imageUrl"
    [alt]="product.productName"
    class="w-full object-fit h-80"
  />

  <div class="flex justify-between px-2">
    <div class="">
      <h3 class="mb-2 font-bold">{{ product.productName }}</h3>
      <p class="mb-2 text-lg font-bold">{{ product.manufacture }}</p>
    </div>
    <span class="font-bold text-green-900"
      >In Stock <br />
      <hr class="border-2 border-green-500"
    /></span>
  </div>

  <div class="bg-[#FF6600] flex justify-between ">
    <button
      class="px-2 py-2 text-black bg-orange-500 rounded hover:bg-orange-600"
      [routerLink]="['/admin/update-product', product.productId]"
    >
    <i class="fas fa-edit"></i>
      Edit Item
    </button>
    <button (click)="deleteProduct(product.productId)" class="px-2 py-2 text-black rounded hover:bg-red-500">
     <i class="mx-2 fas fa-trash"></i>
    </button>
  </div>
</div>
