<div class="relative z-0 w-full text-white bg-gray-900">
  <section
    class="relative h-[24rem] md:h-[36rem] bg-cover bg-center bg-[url('/assets/hero_img.jpg')] brightness-90 contrast-[.95]"
  >
    <!-- Left side text with big letters -->
    <div class="absolute p-4 left-4 md:left-16 top-8 md:top-36 backdrop-blur-sm">
      <h1 class="font-serif text-4xl font-bold text-white md:text-6xl">
        Elevate <span class="font-serif text-orange-500 contrast-200">Your Ride</span>
      </h1>
      <p class="mt-4 text-xl text-gray-200 md:text-2xl">
        Expert Service, Premium Parts, Unbeatable Rides
      </p>
      <div class="flex mt-6 space-x-4">
        <a
          href="#services"
          class="px-6 py-3 text-lg font-semibold text-white transition-all bg-orange-600 rounded-full md:text-xl hover:bg-orange-700"
        >
          Book Service
        </a>
        <a
          href="#shop"
          class="px-6 py-3 text-lg font-semibold text-orange-600 transition-all border-2 border-orange-600 rounded-full md:text-xl hover:bg-orange-600 hover:text-white"
        >
          Shop Parts
        </a>
      </div>
    </div>

    <!-- Right side image and centered box -->
    <div
      class="absolute flex items-center justify-center bg-black bg-opacity-50 right-4 left-4 md:right-16 md:left-auto bottom-8 md:bottom-32"
    >
      <div
        class="p-3 text-center bg-white border-2 border-orange-600 border-solid md:p-5 md:border-4 bg-opacity-15"
      >
        <h2 class="mb-2 text-2xl font-bold md:mb-4 md:text-4xl contrast-125">
          Gear Up for Great Rides
        </h2>
        <p class="text-lg md:text-xl">Premium Motorbike Service & Parts</p>
      </div>
    </div>
  </section>

  <section
    class="container w-full px-4 py-8 mx-auto md:py-12 h-96 contrast-125"
  >
    <h1 class="text-4xl text-center font-sonsie">Our Services</h1>
    <div
      class="grid w-full h-full grid-cols-12 gap-4 grid-rows-12 md:gap-8 md:grid-cols-3"
    >
      <div
        class="h-56 row-start-2 p-4 text-center bg-gray-800 border border-[#FF6600] rounded-lg md:p-6"
      >
        <i
          class="mb-3 text-3xl text-orange-500 md:mb-4 md:text-4xl fas fa-headset"
        ></i>
        <h3 class="mb-2 text-lg font-bold md:text-xl font-sonsie">
          24/7 Support
        </h3>
        <p class="text-sm md:text-base">
          24/7 Hours Online Support.Contact us on Our Chat Bot
        </p>
      </div>
      <div
        class="h-56 row-start-2 p-4 text-center bg-gray-800 rounded-lg md:p-6 border border-[#FF6600]"
      >
        <i
          class="mb-3 text-3xl text-orange-500 md:mb-4 md:text-4xl far fa-calendar-check"
        ></i>
        <h3 class="mb-2 text-lg md:text-xl font-sonsie">Online Schedules</h3>
        <p class="text-sm md:text-base">
          Book a service appointment for your bike <br />
          today.
        </p>
      </div>
      <div
        class="h-56 row-start-2 p-4 text-center bg-gray-800 rounded-lg md:p-6 border border-[#FF6600]"
      >
        <i
          class="mb-3 text-3xl text-orange-500 md:mb-4 md:text-4xl fas fa-box-open"
        ></i>
        <h3 class="mb-2 text-lg md:text-xl font-sonsie">Over 1000 items</h3>
        <p class="text-sm md:text-base">
          Select high-quality parts for your bike’s performance.
        </p>
      </div>
    </div>
  </section>

  <section
    class="relative bg-cover bg-center bg-[url('/assets/home-servicebgImg.png')] brightness-90 contrast-125"
  >
    <div class="container px-4 py-8 mx-auto md:py-12">
      <div class="w-full mb-6 md:w-1/2 md:mb-0">
        <h2
          class="mb-3 text-2xl font-bold text-[#FF6600] md:text-6xl font-sonsie pl-10"
        >
          Services
        </h2>
        <p class="mb-6 text-xl text-orange-500 md:mb-8">
          Ready to bring the most suited services for your Bike
        </p>
      </div>
      <div class="grid grid-cols-1 gap-6 md:gap-8 md:grid-cols-2">
        <ul class="space-y-4 md:space-y-6">
          <li>
            <h4 class="mb-2 text-lg font-bold md:text-xl">
              BUDGET HELP IN EMERGENCIES:
            </h4>
            <p>
              <i class="pr-2 text-orange-400 fas fa-check-circle"></i>Damage
              margins in accidents
            </p>
          </li>
          <li>
            <h4 class="mb-2 text-lg font-bold md:text-xl">
              REPAIRS AND SERVICES BOOKING:
            </h4>
            <p>
              <i class="pr-2 text-orange-400 fas fa-check-circle"></i>Convenient
              schedules to suit your needs
            </p>
          </li>
          <li>
            <h4 class="mb-2 text-lg font-bold md:text-xl">
              GENUINE SPARE PARTS:
            </h4>
            <p>
              <i class="pr-2 text-orange-400 fas fa-check-circle"></i>Best deal
              for minimum price
            </p>
          </li>
          <li>
            <h4 class="mb-2 text-lg font-bold md:text-xl">
              OPEN FOR REQUESTS:
            </h4>
            <p>
              <i class="pr-2 text-orange-400 fas fa-check-circle"></i>Request
              items not in the Shop
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="py-8 md:py-12">
    <div class="container px-4 mx-auto">
      <h2
        class="mb-2 text-3xl font-bold text-center text-white md:text-4xl font-sonsie"
      >
        Testimonials
      </h2>
      <p class="mb-6 text-center text-orange-500 md:mb-8">
        Some quotes from our happy customers
      </p>
      <div class="grid grid-cols-1 gap-6 md:gap-8 md:grid-cols-3">
        <div class="p-4 text-center bg-gray-800 rounded-lg md:p-6">
          <img
            src="/assets/propic.png"
            alt="Natalie"
            class="w-20 h-20 mx-auto mb-3 rounded-full md:w-24 md:h-24 md:mb-4"
          />
          <div class="mb-2 text-orange-500">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p class="mb-3 text-sm md:mb-4 md:text-base">
            "I love it! No more endless searching"
          </p>
          <p class="font-bold">Natalie</p>
        </div>
        <div class="p-4 text-center bg-gray-800 rounded-lg md:p-6">
          <img
            src="/assets/propic.png"
            alt="George"
            class="w-20 h-20 mx-auto mb-3 rounded-full md:w-24 md:h-24 md:mb-4"
          />
          <div class="mb-2 text-orange-500">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p class="mb-3 text-sm md:mb-4 md:text-base">
            "If you are a biker, You need this"
          </p>
          <p class="font-bold">George</p>
        </div>
        <div class="p-4 text-center bg-gray-800 rounded-lg md:p-6">
          <img
            src="/assets/propic.png"
            alt="Raven"
            class="w-20 h-20 mx-auto mb-3 rounded-full md:w-24 md:h-24 md:mb-4"
          />
          <div class="mb-2 text-orange-500">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
          <p class="mb-3 text-sm md:mb-4 md:text-base">
            "Best deals I have ever seen"
          </p>
          <p class="font-bold">Raven</p>
        </div>
      </div>
    </div>
  </section>
</div>
